.collum-1 {width: 8.33%;}
.collum-2 {width: 16.66%;}
.collum-3 {width: 25%;}
.collum-4 {width: 33.33%;}
.collum-5 {width: 41.66%;}
.collum-6 {width: 50%;}
.collum-7 {width: 58.33%;}
.collum-8 {width: 66.66%;}
.collum-9 {width: 75%;}
.collum-10 {width: 83.33%;}
.collum-11 {width: 91.66%;}

.row::after {
  content: "";
  clear: both;
  display: table;
}
* {
  box-sizing: border-box;
}
html{
	font-size: 62.5%;
}
body{
	background-color: #F9F8F9;
	font-family: 'Archivo', sans-serif;
}

@media only screen and (min-width: 414px) {
	iframe{
		margin: 0 auto;
		display: block;
		width: 420; 
		height: 315;
	}
	#wrapper{
		margin: 0 auto;
		box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem #888888;
	}
	#upperHeader{
		height: 8rem;
		background-color: rgb(35, 32, 226);
		font-size: 2rem;
	}
	#upperHeader ul{
		display: none;
	}
	.hamburgerUpper{
		color: #F9F8F9;
		border: 1px solid #F9F8F9;
		font-size: 3rem;
		padding: 1rem 2rem;
		margin: 1.5rem;
	}
	#lowerHeader{
		height: 8rem;
		font-size: 2rem;
		background-color: #FFFFFF;
	}
	#lowerHeader ul{
		display: none;
	}
	#lowerHeader img{
		float: right;
		width: 20rem;
		margin-right: 5rem;
		margin-top: 0.7rem;
	}	
	.hamburgerLower{
		color: grey;
		border: 1px solid grey;
		font-size: 3rem;
		padding: 1rem 2rem;
		margin: 1.5rem;
	}
	#banner{
		text-align: center;
		height: 10rem;
	}
	.content{
		background-color: white;
		padding: 2rem;
	}
	.line {
		width: 110%;
		position: relative;
		right: 3rem;
	}
	#proefles{
		margin: 3rem auto;
	}
	#proefles h1{
		font-weight: 500;
		text-transform: uppercase;
		font-size: 2rem;
	}
	#proefles p{
		font-size: 1.5rem;
		font-weight: 500;
	}
	.free{
		background-color: rgb(35, 32, 226);
		text-align: center;
		padding: 2rem;
		font-size: 2rem;
	}
	#locaties{
		margin: 6rem auto;
	}
	#locaties h1{
		font-weight: 500;
		text-transform: uppercase;
		font-size: 2rem;
	}
	#locaties p{
		font-size: 1.5rem;
		font-weight: 500;
	}
	#rijlessen{
		margin: 6rem auto;
	}
	#rijlessen h1{
		font-weight: 500;
		text-transform: uppercase;
		font-size: 2rem;
	}
	#rijlessen p{
		font-size: 1.5rem;
		font-weight: 500;
	}
	#youtube{
		margin: 5rem auto;
	}
	#footer{
		height: 4rem;
		background-color: rgb(35, 32, 226);
		font-size: 2rem;
		text-align: center;
	}
	#logo{
		display: none;
	}
	#main-img{
		display: none
	}
}

@media only screen and (min-width: 1280px) {

	#main-img{
		display: initial;
		width: 100%;
		height: 100%;
	}
	iframe{
		margin: 0 auto;
		display: block;
		width: 1280px;
		height: 1080px;
	}
	#logo{
		display: initial;
		height: 10rem;
		width: 20rem;
	}	
	#wrapper{
		margin: 0 auto;
		width: 100%;
		box-shadow: none;
	}
	.upperRow{
		position: sticky;
		top: 0;
		left: 0;
		z-index: 1;
	}
	#upperHeader{
		height: 5rem;
	}
	#upperHeader ul{
		display: inline-block;
		margin-right: 8rem;
	}
	#upperHeader ul li{
		display: inline-block;
	}
	#upperHeader ul li a{
		text-decoration: none;
		color: black;
		position: relative;
		bottom: 0.5rem;

	}
	.distance{
		margin: 0 0 0 5rem;
	}
	#lowerHeader{
		height: 17rem;
	}
	#lowerHeader ul{
		display: inline-block;
		position: absolute;
		top:14rem;
		left: 40rem;
	}
	#lowerHeader ul li{
		display: inline-block;
		margin-left: 5rem;
	}
	#lowerHeader ul li a{
		text-decoration: none;
		color: grey;
	}
	#upperHamburger{
		display: none;
	}
	#lowerHamburger{
		display: none;
	}
	#lowerHeader img{
		float: left;
		width: 40%;
		max-width: 40rem;
		margin: 2rem 2rem 2rem 5rem ;
	}
	#text1{
		margin: 0 auto;
		color: grey;
		background-color: rgb(35, 32, 226);
		height: 50%;
		width: 40%;
		font-size: 4rem;
		font-weight: 500;
	}
	#text2{
		margin: 1rem auto;
		color: grey;
		font-weight: 500;
		height: 30%;
		width: 25%;
		font-size: 2rem;
		background-color: rgb(35, 32, 226);
	}
	.content{
		display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto auto;
	}
	#proefles{
		width: 80%;
		grid-column: 1/2;
		grid-row: 1/2;
		position: relative;
		left: 3rem;
	}
	#locaties{
		margin: 6rem auto;
		width: 80%;
		grid-row: 1/2;
		grid-column: 2/3;
		position: relative;
		bottom: 3rem;
	}
	#rijlessen{
		margin: 6rem auto;
		width: 80%;
		grid-row: 1/2;
		grid-column: 3/4;
		position: relative;
		bottom: 3rem;
		right: 3rem;
	}
	#youtube{
		margin: 5rem auto;
		grid-row: 2/3;
		grid-column: 1/4;
		width: 85%;
	}
}